---
interface Props {
    title: string;
    description: string;
    link?: string;
    date: string;
}

const {title, description, link, date} = Astro.props
---

<div class="absolute w-3 h-3 rounded-full mt-1.5 -start-1.5 border border-yellow-500 bg-yellow-500 dark:border-orange-700 dark:bg-orange-500"></div>
<time class="mb-1 text-sm font-normal leading-none text-gray-600/80 dark:text-white/80">
    {date}
</time>
<h3 class="text-lg font-semibold text-yellow-500 dark:text-orange-200 mt-2">
    {title}
</h3>
<p class="mb-4 mt-2 p-3 text-base font-normal text-gray-600 dark:text-gray-200 text-pretty w-full whitespace-pre-line">
    {description}
</p>
{
    link && (
        <a href={link} target="_blank" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">
            Saber más...
            <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    )
}

