<footer class="rounded-lg shadow m-4 bg-black/20 backdrop-blur-lg">
    <div class="w-full mx-auto max-w-screen-xl p-4 text-center">
      <span class="text-sm text-white/80 text-center">
        © 2024
        <a 
            href="https://www.linkedin.com/in/lucio-palacio-developer/" 
            target="_blank"
            rel="noopener" class="hover:underline">Lucio Palacio</a> - Porfolio.
    </span>
    </div>
</footer>
