<header class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto">
    <span></span>
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#top">Inicio</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#sobre-mi">Sobre mí</a>
        <a href="#proyectos">proyectos</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>